<%- include('../layouts/user/header'); -%>

<div class="container-fluid" style="height: 100vh; width: 100%;">
  <div class="row">
    <div class="col-md-12 d-flex flex-column align-items-center">
      <h2 class="mt-2 mb-3">My Shopping Cart</h2>

      <main class="border rounded d-flex flex-column align-items-center"
        style="width: 85%; height: 80vh; background: #fff; overflow-y: scroll; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <% if (!cartDetail || cartDetail.Items.length == 0) { %>
        <h3>NO cart item added</h3><br>
        <a href="/userHome">Back to home</a>
        <% } else { %>
        <div class="ta" style="width: 95%; ">
          <table class="table  mt-4 mb-4">
            <thead>
              <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <%
                let totalDiscountedPrice = 0; // Initialize total discounted price
                cartDetail.Items.forEach((cart) => { 
                  const catOffer = cart.ProductId.catOffer;
                  const discountAmount = (cart.ProductId.Price * catOffer.catPer) / 100;
                  const discountedPrice = cart.ProductId.Price - discountAmount;
                  totalDiscountedPrice += cart.Quantity * discountedPrice; // Update total discounted price
              %>

              <tr>
                <td>
                  <img style="display: inline;" src="/uploads/<%= cart.ProductId.Image[0] %>" width="80px" alt="">
                  <h5 style="display: inline; margin-left: 10px;">
                    <%= cart.ProductId.Name %>
                  </h5>
                </td>

                <td class="common">
                  <div class="d-flex " style="height: 30px; width: 90px;">
                    <button style="border: 0;" id="decBtn_<%= cart.ProductId._id %>"
                      onclick="disap('<%= cart.ProductId._id %>','<%= cart.ProductId.Stock %>');updateQuandity('<%= cart.ProductId._id %>',-1,'<%= cart.ProductId.Stock %>')">
                      <div class="col d-flex justify-content-center align-items-center"
                        style="width: 30px; height: 30px;">-</div>
                    </button>
                    <div class="col d-flex justify-content-center align-items-center "
                      style="width: 30px; height: 30px; border: 1px black solid;"
                      id="quantity_<%= cart.ProductId._id %>">
                      <%= cart.Quantity %>
                    </div>
                    <button style="border: 0;" id="incBtn_<%= cart.ProductId._id%>"
                      onclick="disap('<%= cart.ProductId._id %>','<%= cart.ProductId.Stock %>');updateQuandity('<%= cart.ProductId._id %>',1,'<%= cart.ProductId.Stock %>')">
                      <div class="col d-flex align-items-center justify-content-center"
                        style="width: 30px; height: 30px;  background: #f1efef;">+</div>
                    </button>
                  </div>
                </td>
                <td class="common">
                  <button class="col d-flex justify-content-center align-items-center btn btn-danger"
                    onclick="deleteItem('<%= cart._id %>','<%= cart.ProductId.Name %>','<%= cartDetail._id %>')">Remove</button>
                </td>
                <td id="price<%= cart.ProductId._id %>" class="common">
               
                  ₹<span id="actualPrice<%= cart.ProductId._id %>"><%= cart.Quantity * cart.ProductId.discountedPrice.toFixed(2) %></span>/-&nbsp;&nbsp;

                  <% if(cart.ProductId.catOffer.catPer > 0){ %>
                    <span id="originalPrice<%= cart.ProductId._id %>" style="text-decoration: line-through;" class="text-muted">₹<%=cart.Quantity * cart.ProductId.Price %>/-</span>
                  <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <form style="width: 100%;" action="/buyTheProducts">
            <div class="row d-flex justify-content-end border">
              <div class="col-md-3 d-flex justify-content-center align-items-center border" style="height: 80px;">
                <div style="height: 90%; width: 90%; display: flex; justify-content: center; align-items: center;"
                  id="totalPrice">Total Price=₹<%= sum.toFixed(2) %>/-</div>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center mt-4 mb-3">
              <button class="btn btn-success" type="submit" style="height: 50px; width: 200px;">Buy now</button>
            </div>
          </form>
        </div>
        <% } %>
      </main>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function disap(productId, Stock) {
    const incElement = document.getElementById('incBtn_' + productId);
    const decElement = document.getElementById('decBtn_' + productId);
    const val = document.getElementById('quantity_' + productId).innerText;

    if (val == 1) {
      decElement.disabled = true;
    } else if (val == Stock) {
      incElement.disabled = true;
    } else {
      decElement.disabled = false;
      incElement.disabled = false;
    }
  }

  function updateQuandity(productId, number, Stock) {
    const quantityElement = document.getElementById('quantity_' + productId);
    const quantity = Number(quantityElement.innerText);

    var inc = number;

    if (quantity == 1 && number == -1) {
      inc = 0;
    }
    if (quantity == Stock && number == 1) {
      inc = 0;
    }

    $.ajax({
      url: '/updateCartValue',
      method: 'POST',
      data: {
        productId,
        inc
      },
      success: (Response) => {
        quantityElement.innerText = Response.Quantity;

        if (Response.Quantity < Response.Stock && Response.Quantity > 1) {
          document.getElementById('decBtn_' + productId).disabled = false;
          document.getElementById('incBtn_' + productId).disabled = false;
        } else if (Response.Quantity <= 1) {
          document.getElementById('decBtn_' + productId).disabled = true;
        } else if (Response.Quantity >= Response.Stock) {
          document.getElementById('incBtn_' + productId).disabled = true;
        }

        document.getElementById('totalPrice').innerHTML = "Total Price= ₹" +parseFloat(Response.totalPrice).toFixed(2) + "/-";
        const priceElement = document.getElementById('price' + productId);
        const actual = $('#actualPrice'+productId)
        const originalPrice = $('#originalPrice'+productId)
        const discountedPrice = Number(Response.price);
        console.log(Response.price)
        if (!isNaN(discountedPrice)) {
          console.log("respons.price==",Response.price)
          // priceElement.innerHTML = "<span id='actualPrice" + productId + "'>" + Response.price + "</span>/-&nbsp;&nbsp;";
          actual.text(parseFloat(Response.price).toFixed(2));
          originalPrice.text(Response.realPrice);
          document.getElementById(`totalCartQuantity`).innerHTML = Response.totalQuantity;

          // const actualPriceElement = document.getElementById('actualPrice' + productId);
          // actualPriceElement.innerHTML = Response.Quantity * discountedPrice;
        } else {
          console.error("Invalid discountedPrice:", Response.discountedPrice);
        }
      },
      error: (error) => {
        console.error("Error in AJAX request:", error);
      }
    });
  }

  function deleteItem(cartId, name, ParentId) {
    Swal.fire({
      title: "Do you want to remove this item ",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Remove"
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: `/deleteCartItem/${cartId}`,
          method: 'PUT',
          data: {
            ParentId
          },
          success: (Response) => {
            Swal.fire({
              title: "Deleted!",
              text: "Your file has been deleted.",
              icon: "success"
            });

            setTimeout(() => {
              location.reload();
            }, 2000);
          }
        });
      }
    });
  }
</script>

<%- include('../layouts/user/footer'); -%>
