<%- include('../layouts/user/header'); -%>
       

<div class=" container-fluid" style="height: 100vh; width: 100%; ">
   <div class="row">
    <div class="col-md-12 d-flex flex-column align-items-center">

        <h2 class="mt-2 mb-3">My Shopping Cart</h2>
       
        <main class="border rounded d-flex flex-column align-items-center" style="width: 85%; height: 80vh; background: #fff; overflow-y: scroll;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <% if(!cartDetail || cartDetail.Items.length == 0){ %>  

            <h3>NO cart item added</h3><br>
            <a href="/userHome">Back to home</a>

          <% }else{ %>

              <div class="ta" style="width: 95%; ">
                <table class="table  mt-4 mb-4">
                    <thead>
                        <tr>
                            <th>Description</th>
                            
                            <th>Quantity</th>
                            <th>Remove</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% cartDetail.Items.forEach((cart)=>{ %>
                        
                         <tr >
                            <td>
                              <img style="display: inline;" src="/uploads/<%= cart.ProductId.Image[0].mainimage %>" width="80px" alt=""><h5 style="display: inline; margin-left: 10px;"><%= cart.ProductId.Name %></h5>
                            </td>
                             
                            <td class="common">

                                <div class="d-flex " style="height: 30px; width: 90px;">

                                 
                                    <button style="border: 0;"  id="decBtn_<%= cart.ProductId._id %>" onclick="disap('<%= cart.ProductId._id %>','<%= cart.ProductId.Stock %>');updateQuandity('<%= cart.ProductId._id %>',-1,'<%= cart.ProductId.Stock %>')"><div class="col d-flex justify-content-center align-items-center" style="width: 30px; height: 30px;">-</div></button>
                                  <div class="col d-flex justify-content-center align-items-center " style="width: 30px; height: 30px; border: 1px black solid;" id="quantity_<%= cart.ProductId._id %>"><%= cart.Quantity %></div>
                                    <button style="border: 0;" id="incBtn_<%= cart.ProductId._id%>" onclick="disap('<%= cart.ProductId._id %>','<%= cart.ProductId.Stock %>');updateQuandity('<%= cart.ProductId._id %>',1,'<%= cart.ProductId.Stock %>')"><div class="col d-flex align-items-center justify-content-center" style="width: 30px; height: 30px;  background: #f1efef;">+</div></button>
                                  
                               
                                
                                  </div>

                            </td>
                            <td class="common">
                                <button class="col d-flex justify-content-center align-items-center" onclick="deleteItem('<%= cart._id %>','<%= cart.ProductId.Name %>','<%= cartDetail._id %>')">Remove</button>
                                
                              </td>
                            <td id="price<%= cart.ProductId._id %>" class="common">
                                ₹<%= cart.Quantity * cart.ProductId.Price %>/-
                            </td>
                        </tr>
                    
                      <% }) %>

                    </tbody>
                </table>    
              <form style="width: 100%;" action="/buyTheProducts">

                <div class="row d-flex justify-content-end border">
                    
                    <div id="totalPrice" class="col-md-3 d-flex justify-content-center align-items-center border" style="height: 80px;"><div style="height: 90%; width: 90%; display: flex; justify-content: center; align-items: center;">Total Price=₹<%= sum %>/-</div></div>
                </div>
               <div class="d-flex justify-content-end align-items-center mt-4 mb-3">
               
                <button class="btn btn-success" type="submit" style="height: 50px; width: 200px;">Buy now</button>
               </div> 
            </form>
        </div>
            <% } %>
        </main>
    </div>

   </div>
</div>

<script>
  //onloading

function disap(productId, Stock){
  const incElement = document.getElementById('incBtn_'+productId)
  const decElement = document.getElementById('decBtn_'+productId)
  const val = document.getElementById('quantity_'+productId).value
  console.log()
  if(val==1){
    decElement.disabled = true
  }else if(val == Stock){
    incElement.disabled = true
  }
  else{
    decElement.disabled = false
    incElement.disabled = false

  }
} 















  var qid = document.getElementById('')
  function updateQuandity(productId,number,Stock){
  const quantity = document.getElementById('quantity_'+productId).textContent
  console.log("quantity=====",quantity)
  var inc = number
  if(quantity == 1 && number == -1){inc = 0}
  if(quantity == Stock && number == 1){inc = 0}
  console.log("number====",inc)
    $.ajax({
      url:'/updateCartValue',
      method: 'POST',
      data:{
        productId,
        inc
      },
      success:(Response)=>{
        console.log("response to front end======",Response.Quantity);
        document.getElementById('quantity_'+productId).innerHTML=Response.Quantity
        if(Response.Quantity < Response.Stock && Response.Quantity > 1){

        document.getElementById('decBtn_'+productId).disabled = false
        document.getElementById('incBtn_'+productId).disabled = false


        }else if(Response.Quantity <= 1){
          document.getElementById('decBtn_'+productId).disabled = true
        }else if(Response.Quantity >= Response.Stock){
          document.getElementById('incBtn_'+productId).disabled = true
        }

        document.getElementById('totalPrice').innerHTML ="Total Price= ₹"+ Response.totalPrice+"/-"

        document.getElementById('price'+productId).innerHTML = "₹"+Response.price+"/-"
        document.getElementById(`totalCartQuantity`).innerHTML = Response.totalQuantity
        
      }
    })
  
}


  function deleteItem(cartId,name,ParentId){
    alert('Do yo want to remove this item')
    $.ajax({
      url:`/deleteCartItem/${cartId}`,
      method: 'PUT',
      data:{
        ParentId
      },
      success: (Response)=>{
        location.reload()
      }
    })
  }
  

</script>


<%- include('../layouts/user/footer'); -%>