<%- include('../layouts/user/header'); -%>


    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: rgb(0, 0, 0);">
                                    <%= name %>
                                </span>!</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0" style="color: #923d7b;">Receipt</p>
                                <!-- <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> -->
                            </div>
                            <div>
                                <hr>
                                <h5>Order Address :</h5>
                                <p>Name : <%=orders.Address.Name%>
                                </p>
                                <p>Address : <%=orders.Address.Address%> , <%=orders.Address.City%> ,
                                            <%=orders.Address.State%> , <%=orders.Address.Pincode%>
                                </p>
                            </div>
                            <br>
                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    <% if (orders){%>
                                        <% orders.Items.forEach((data)=> { %>
                                            <div class="row">
                                                <div class="col">
                                                    <img src="/uploads/<%= data.productId.Image[0] %>" class="img-fluid"
                                                        alt="Phone">
                                                </div>
                                                <div
                                                    class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0">
                                                        <%=data.productId.Name%>
                                                    </p>
                                                </div>
                                                <div
                                                    class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">
                                                        <%=data.productId.Spec1%>
                                                    </p>
                                                </div>
                                                <div
                                                    class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">Category:
                                                        <%=data.productId.Category%>
                                                    </p>
                                                </div>
                                                <div
                                                    class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">Qty: <%=data.quantity%>
                                                    </p>
                                                </div>
                                                <div
                                                    class="col text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">₹<%=data.productId.Price%>
                                                    </p>
                                                </div>
                                                <% if(orders.Status==='Delivered' && data.removed==false){ %>
                                                    <div
                                                        class="col text-center d-flex justify-content-center align-items-center">
                                                        <div class="btn btn-danger"
                                                            onclick="remove('<%= data.productId._id %>','<%= data.quantity %>','<%= orders._id %>')">
                                                            Return Item
                                                        </div>
                                                    </div>
                                                    <% }else if(data.removed==true){ %>
                                                        <div
                                                            class="col-12 d-flex justify-content-center align-items-center">
                                                            <h2 class="text-danger">Returned</h2>
                                                        </div>
                                                        <% } %>
                                            </div>
                                            <br>

                                            <hr>

                                            <% }); %>
                                                <% }else{%>
                                                    <h3>No data available</h3>
                                                    <% } %>
                                </div>
                            </div>


                            <div class="card-footer border-0 px-4 py-5"
                                style="background-color: #72a887; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                <h5
                                    class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                    Total
                                    Price: <span class="h2 mb-0 ms-2">₹ <%= orders.TotalPrice %></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script src="/htmlExecutable/user/orderedProductDetail.js"></script>

    <%- include('../layouts/user/footer'); -%>