<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoan List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="userCss/home.css">
</head>
<body>
    <div class="container-fluid p-0 no-gutters">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="col-4">
                        <a class="navbar-brand" href="#">ZOAN MANiA</a>
                    </div>
                  
                    <div class="col-4">
                        <div class="collapse navbar-collapse middle-menu d-inline" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                           
                              <li class="nav-item active">
                                <a class="nav-link" href="#">Home</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                              </li>
                              <li class="nav-item dropdown">
                                <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Category
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="#">MEN</a>
                                  <a class="dropdown-item" href="#">WOMEN</a>
                                  <!-- <div class="dropdown-divider">KIDS</div>    -->
                                 <!-- <a class="dropdown-item" href="#">KIDS</a>
                                </div> -->
                                <div class="dropdown">
                                  <a class="dropdown-toggle nav-link  " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                  </a>
                                
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">MEN</a></li>
                                    <li><a class="dropdown-item" href="#">WOMEN</a></li>
                                    <li><a class="dropdown-item" href="#">KIDS</a></li>
                                  </ul>
                                </div>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/Product-list">Products</a>
                              </li>
                            </ul>
                            <!-- <form class="form-inline my-2 my-lg-0">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form> -->
                          </div>
                    </div>

                    <div class="col-4">
                        <div class=""><ul class="navbar-nav d-flex justify-content-evenly">
                          <li class="nav-item">


                            <div class="dropdown">
                              <a class="dropdown-toggle" style="text-decoration: none; color: #23a6f0;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-user" style="color: #23a6f0;"></i><%= name %>...
                              </a>
                            
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" style="text-decoration: none;" href="/logout">logout</a></li>
                                
                              </ul>
                              
                             
                          </div>
                          </li>
                          <li class="nav-item">
                            <a href="#"><img src="icons/Search.png" alt=""></a>
                          </li>
                          <li class="nav-item">
                            <a href="#"><img src="icons/cart.png" alt=""></a>
                          </li>
                          <li class="nav-item">
                            <a href="#"><img src="icons/wishList.png" alt=""></a>
                          </li>
                          
                        </ul></div>
                         
                      </div> 
                  
                      
                      
                  
                      
                    </nav>
                      


                    </div>





                          
                          
                        
            <div class="col-12">

                                    <h1>Product List</h1>
                            <!-- <div class="table-responsive">
                                <table class="table align-middle">
                                    
                                    <tbody>
                                        <% products.forEach(product => { %>
                                            <tr>
                                                <td><a href="/product/<%= product._id %>" style="text-decoration: none; color: black;"><%= product.Name %></a></td>
                                                <td>Rs. <%= product.Price %></td>
                                                <td><img src="/uploads/<%=product.Image[0].mainimage%>" height="100" width="100" alt=""></td>
                                                <td><%= product.Description %></td>
                                              
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div> -->

              <div class="row ms-5 me-5">
                <% products.forEach(product => {  %>
                  <% if(product.Stock > 0){ %>
                    <div class="col-md-3 p-4">
                      <div class="card" style="width: 18rem;margin-left: 25px;">
                          <img class="card-img-top" style="height: 290px; width: 250px; padding: 20px; margin-left: 20px;" src="/uploads/<%=product.Image[0].mainimage%>" alt="Card image cap">
                          <div class="card-body">
                              <h6 class="card-title"><%=product.Name%></h6>
    
                              <p class="card-text" style="font-weight: 700;">₹<%=product.Price%>/-</p>
                              <a href="" class="btn btn-warning">Add To Cart</a>
                              <a href="/productDetail/<%= product._id %>" class="btn btn-primary">view Details</a>
                          </div>
                      </div>     
                    </div>
                  <% } %>
                <% }) %>
              </div>

            </div>    
                
            </div>
        
        </div>

            
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>



