<%- include('../layouts/user/header'); -%>







  <div class="col-12">

    <!-- Carousel -->
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-4 mb-5">
        <h2>See Our Products</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"">
        <div class="filter d-flex flex-column align-items-start rounded shadow ms-3 mt-3 p-3" style="width: 90%; position: sticky; top: 200px;">
          <div class="d-flex justify-content-center mb-4" style="width: 100%;"><h4>Categories</h4></div>

          <% categories.forEach((category)=>{ %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <%= category.catName %>
            </label>
          </div>
          <% }) %>

        </div>

      </div>
      <div class="col-md-9">
        <div class="row">
          
          <% productsList.forEach(product=> { %>
    
            <div class="col-md-6 col p-4">
              <div class="card" style="width: 18rem;margin-left: 25px;">
                <a href="/productDetail/<%= product._id %>"><img class="card-img-top img-fluid"
                    style="height: 290px; width: 250px; padding: 20px; margin-left: 20px;"
                    src="/uploads/<%=product.Image[0]%>" alt="Card image cap"></a>
                <div class="card-body">
                  <h6 class="card-title">
                    <%=product.Name%>
                  </h6>
    
                  <% if(product.Stock>= 1 ){ %>
                    <% let isInCart=false %>
                      <% if(cartData !==null){ %>
                        <% for (let index=0; index < cartData.Items.length; index++) { %>
                          <% if(JSON.stringify(product._id)==JSON.stringify(cartData.Items[index].ProductId._id)){ %>
                            <% isInCart=true %>
                              <% break %>
                                <% } %>
                                  <% } %>
                                    <% }else{isInCart=false} %>
                                      <% if(isInCart){ %>
                                        <a href="/cart" class="btn btn-warning">Go To Cart</a>
                                        <% }else{ %>
                                          <a href="/addToCart/<%= product._id %>" class="btn btn-warning">Add To Cart</a>
                                          <% } %>
                                            <% }else{ %>
                                              <p class="card-text" style="font-weight: 800; color: rgb(238, 101, 101);">Out
                                                Of Stock</p>
                                              <a href="" class="btn btn-warning" style="pointer-events: none">Add To
                                                Cart</a>
    
                                              <% } %>
                                                <a href="/productDetail/<%= product._id %>" class="btn btn-primary">View
                                                  Details</a>
                </div>
              </div>
            </div>
    
            <% }) %>

        </div>
      </div>
    </div>

  </div>
  <div class="col-12 d-flex justify-content-center">
    <nav aria-label="Page navigation" class="m-3">
      <ul class="pagination ">
        <% for(i=1;i<=pageNums;i++){ %>
          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>">
              <%= i %>
            </a>
          </li>
          <% } %>
      </ul>
    </nav>
  </div>


  <footer class="container-fluid mt-5" style=" height: 300px;background: #000;">
    <div class="row">
      <div class="col-md-4 mt-5 p-2 d-flex flex-column align-items-center">
        <h4 class="footer-head ">Get In Touch</h4>
        <p class="tefo">Life is too short to wear boring clothes</p>
        <div class="social-media">
          <a href=""><img src="/icons/facebook.png" alt=""></a>
          <a href=""><img src="/icons/instagram.png" alt=""></a>
          <a href=""><img src="/icons/twitter.png" alt=""></a>
        </div>

      </div>

      <div class="col-md-4 mt-5 p-2 d-flex flex-column align-items-center">
        <h4 class="footer-head">Company info</h4>
        <p><a href="" class="tefo">About us</a></p>
        <p><a href="" class="tefo">Carrier</a></p>
        <p><a href="" class="tefo">We are hiring</a></p>
        <p><a href="" class="tefo">Blog</a></p>
      </div>

      <div class="col-md-4 mt-5 p-2 d-flex flex-column align-items-center">
        <h4 class="footer-head">Features</h4>
        <p><a href="" class="tefo">Business Marketing</a></p>
        <p><a href="" class="tefo">User Analystic</a></p>
        <p><a href="" class="tefo">Live Chat</a></p>

      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  </body>

  </html>