<%- include('../layouts/user/header') -%>




                          
                          
                        
            <div class="col-12">

                <div class="row">
                    <div class="col-md-5 d-flex flex-column align-items-center">
                        <div class="mt-4" style=" width: 350px; z-index: 1;" id="img-container"><img src="/uploads/<%=P_detail.Image[0]%>" class="img-fluid rounded-top" alt=""  height="300px"></div>
                        <div class="mt-5 d-flex justify-content-evenly" style="width: 100%; flex-wrap: wrap;">
                          <% for(i=0;i<P_detail.Image.length;i++){ %>
                            <div style="height: 100px; width: 100px; border: 0;"><img src="/uploads/<%=P_detail.Image[i]%>" height="100px" width="100px" style=" border-radius: 12px;" alt=""></div>
                          <% } %>
                           
                        </div>
                    </div>
                    <div class="col-md-7 Description">
                        <div class="rightinn ms-5 mt-4">
                            <h4><%= P_detail.Name %></h4>
                            <p style="font-weight: 100;"><span><%= P_detail.Suffix %></span></p>
                            <div class="rating" style="height: 30px; width: 100px; ; "><p>Rating</p></div>
                            <hr>
                            <h3 style="font-weight: 300;">₹  <%= P_detail.Price %>/-</h3>
                            <p class="text-success-emphasis">inclusive of all taxes</p>
                            <p>Select Size</p>
                            <div class="size d-flex">
                            <a href="" style="text-decoration: none; color: #000;"><div class=" ms-3 rounded-circle bg-light d-flex justify-content-evenly align-items-center" style="height: 60px; width: 60px; ">Sm</div></a>
                            <a href="" style="text-decoration: none; color: #000;"><div class="ms-3 rounded-circle bg-light d-flex justify-content-evenly align-items-center" style="height: 60px; width: 60px;">L</div></a>
                            <a href="" style="text-decoration: none; color: #000;"><div class="ms-3 rounded-circle bg-light d-flex justify-content-evenly align-items-center" style="height: 60px; width: 60px;">XL</div></a>
                            </div>
                            <% if( P_detail.Stock < 1 ){ %>
                              <h4 class="text-danger mt-4">Out Of Stock!!!</h4>
                            
                            <div class="Options mt-5 d-flex">
                              <a class="ms-3 btn btn-primary"><button class="btn btn-primary" style="height: 40px; width: 200px; border-radius: 20px;" disabled>Buy Now</button></a>
                              <a href="" class="ms-3"><img src="/icons/like.png" alt=""></a>
                              <a href="" class="ms-3"><img src="/icons/basket.png" alt=""></a>
                            </div>  
                            <% }else{ %>
                              <div class="Options mt-5 d-flex">
                                <a href="/buyTheProduct/<%= P_detail._id %>" class="ms-3 btn btn-success" onclick="buyProduct('<%= P_detail._id %>')">Buy Now</a>
                                <!-- <a href="" class="ms-3"><img src="/icons/like.png" alt=""></a> -->
                                <a href="/addToCart/<%= P_detail._id %>" class="ms-3"><img src="/icons/basket.png" alt=""></a>
                              </div>  
                            <% } %>
                            <hr>
                            <h4 style="font-weight: 300;"><u>Details</u></h4>
                            <ul>
                              <li> <%= P_detail.Spec1 %> </li>
                              <li> <%= P_detail.Spec2 %> </li>
                              <li> <%= P_detail.Spec3 %> </li>
                            </ul>
                            <h4 style="font-weight: 300;"><u>Description</u></h4>
                            <p><%= P_detail.Description %></p>
                            
                        </div>

                    </div>
                </div>
                

  <script>

    // Your code here
    var options = {
        width: 300,
        zoomWidth: 200,
        offset: { vertical: 0, horizontal: 10 }
    };
    new ImageZoom(document.getElementById("img-container"), options);

    async function buyProduct(product_id){
      console.log('product+Id === ',product_id)
      console.log('productId type = ',typeof product_id)
      let res = await fetch(`/buyTheProduct/${product_id}`)
      const data = res.json()
      console.log('data = ',data)
    }
    
  </script>
<%- include('../layouts/user/footer') -%>