<%- include('../layouts/user/header') -%>

    
    
    
    <section style="background-color: #eee;">
        <div class="container py-5">
          
      
          <div class="row">
            <div class="col-lg-3">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">Hello <%= name %></h5>
                </div>
              </div>
             
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <a href="/profile" style="text-decoration: none;">
                        <li class="list-group-item d-flex align-items-center p-3">
                            <i class="fa-regular fa-user" style="color: #282f3b;"></i>                      
                            <p class="mb-0 ms-3">Profile Info</p>
                        </li>
                    </a>
                    <a href="/orderDetails" style="text-decoration: none;">
                        <li class="list-group-item d-flex  align-items-center p-3">
                            <iconify-icon icon="mdi:cart-check" style="color: #357af3;"></iconify-icon>
                            <p class="mb-0 ms-3">My Orders</p>
                        </li>
                    </a>
                    <a href="/manageAddress" style="text-decoration: none;">
                        <li class="list-group-item d-flex  align-items-center p-3">
                            <iconify-icon icon="teenyicons:address-book-outline" style="color: #357af3;"></iconify-icon>
                            <p class="mb-0 ms-3">Manage Address</p>
                        </li>
                      </a>
                    <a href="/manageCoupons" style="text-decoration: none;">
                      <li class="list-group-item d-flex  align-items-center p-3">
                        <iconify-icon icon="mdi:coupon-outline" style="color: #357af3;"></iconify-icon>
                        <p class="mb-0 ms-3">Coupons</p>
                      </li>
                  </a>
                    <a href="/changePassword" style="text-decoration: none;">
                        <li class="list-group-item d-flex  align-items-center p-3">
                            <iconify-icon icon="solar:password-broken" style="color: #357af3;"></iconify-icon>
                            <p class="mb-0 ms-3">Change Password</p>
                        </li>
                    </a>
                  </ul>
                </div>
                

              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= name %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= userData.email%></p>
                    </div>
                
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Mobile</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= userData.MobileNumber %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row d-flex justify-content-end ">
                    <div>
                  <button type="button" class="btn btn-outline-primary" onclick="openEditModal()" data-bs-target="#editModal" id="modalBtn">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
              


            </div>
            <a href="/walletHistory" style="text-decoration: none;">
            <div class="card mb-4 p-3">
              <h3 class="mb-4">Wallet History</h3>
              <p>Available balance : <%= userData.Wallet %></p>
            </div>
            </a>
         

          
          </div>
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Name</label>
                      <input type="text" class="form-control" value="<%= name %>" id="recipient-name">
                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Email:</label>
                      <input type="text" class="form-control" value="<%= userData.email%>" id="recipient-email">
                    </div>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Phone Number:</label>
                      <input type="text" class="form-control" value="<%= userData.MobileNumber %>" id="recipient-Pnumber">
                    </div>
                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" onclick="saveDetail()" class="btn btn-primary">Save Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<script>
    
    function openEditModal() {
        console.log("edit button clicked")
                $('#editModal').modal('show');
    }
  
    function saveDetail(){

        const name = document.getElementById('recipient-name').value
        console.log("name==",name)
        const email = document.getElementById('recipient-email').value
        console.log("email==",email)
        const phone = document.getElementById('recipient-Pnumber').value
        console.log("phone==",phone)


        const data = {
            name,email,phone
        }
        fetch('/updateInfo',{
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify(data)
        })
        .then((res) => res.json())
        .then((data) => {
            document.getElementById('recipient-name').value = "";
        document.getElementById('recipient-email').value = "";
        document.getElementById('recipient-Pnumber').value = "";

        // Close the modal (assuming you're using Bootstrap modal)
        $('#editModal').modal('hide');
        
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Your address has been updated',
            showConfirmButton: false,
            timer: 1500
        })
        setTimeout(()=>{
            location.reload();
        },1800)
        // Optionally, you can update the address list on the page.
            });
        
    }
    
</script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include('../layouts/user/footer') -%>