<%- include('../layouts/user/header') -%>

    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-6 border round">
                <h3>Add Address</h3>
                    <form id="addAddress">
                        <div class="mb-3">
                        <label for="" class="form-label">Name</label>
                        <input type="text"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                    </form>
            </div>
        </div>
    </div> -->

    <!-- </div> -->
    <form id="orderForm">
        <!-- action="/placeOrder" method="post" -->
        <div class="container p-3">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-4">Delivery Addresses</h3>
                    <% let isFirstAddress=true; userData.address.forEach((addr)=> {
                        %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input address-radio" type="radio" name="selectedAddress"
                                        id="address_<%= addr._id %>" value="<%= addr._id %>" <%=isFirstAddress
                                        ? 'checked' : '' %> />
                                    <h5 class="card-title">
                                        <%= addr.Name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= addr.AddressLine %>
                                    </p>
                                    <p class="card-text">
                                        <%= addr.City %>, <%= addr.State %>
                                                <%= addr.Pincode %>
                                    </p>
                                    <p class="card-text">
                                        <%= addr.Mobile %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% isFirstAddress=false; }); %>

                            <% if (userData.address.length===0) { %>
                                <p class="text-center">No saved addresses. Please add a new address.</p>
                                <% } %>




                                    <!-- modal for adding address -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add
                                        Address</button>

                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-secondary">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label class="col-form-label">Name:</label>
                                                            <span class="text-danger" id="nameErr"></span>
                                                            <input type="text" class="form-control" id="recipient-name"
                                                                onchange="nameCheck()" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label">Addrss:</label>
                                                            <span class="text-danger" id="addErr"></span>
                                                            <textarea class="form-control" id="recipient-address"
                                                                onchange="addCheck()" required></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label">City:</label>
                                                            <span class="text-danger" id="cityErr"></span>
                                                            <input type="text" class="form-control" id="recipient-City"
                                                                onchange="cityCheck()" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label">Pincode:</label>
                                                            <span class="text-danger" id="pinErr"></span>
                                                            <input type="number" class="form-control"
                                                                id="recipient-Pincode" onchange="pinCheck()" required>

                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label">State:</label>
                                                            <span class="text-danger" id="stateErr"></span>
                                                            <input type="text" class="form-control" id="recipient-State"
                                                                onchange="stateCheck()" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label">Mobile:</label>
                                                            <span class="text-danger" id="mobErr"></span>
                                                            <input type="number" class="form-control"
                                                                id="recipient-Mobile" onchange="mobCheck()" required>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" id="addAddressBtn" class="btn btn-primary">Save
                                                    Address</button>
                                            </div>
                                        </div>
                                    </div>
                </div>



                <div class="col-md-4 mt-5">
                    <div class="card position-sticky">
                        <div class="card-body">
                            <h5 class="card-title">Payment Methods</h5>
                            <div class="form-check">
                                <input class="form-check-input payment-radio" type="radio" name="selectedPayment"
                                    id="payment_cod" value="cod" checked />
                                <label class="form-check-label" for="payment_cod">Cash on Delivery</label>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input payment-radio" type="radio" name="selectedPayment"
                                    id="payment_online" value="online" />
                                <label class="form-check-label" for="payment_online">Online Payment</label>
                            </div>
                            <div class="form-check mt-3">

                                <span id="WalletError" class="text-danger" style="display: none;">

                                </span>

                                <input class="form-check-input payment-radio"
                                    onclick="checkWallet('<%= userData.Wallet %>','<%= cartData.totalAmount %>')"
                                    type="radio" name="selectedPayment" id="payment_Wallet" value="Wallet" />
                                <label class="form-check-label" for="payment_Wallet">Wallet Payment</label>
                            </div>
                            <div class="d-flex border rounded mt-4 p-2 align-items-center justify-content-center">
                                <span>Wallet Amount:</span>&nbsp;<span>₹<%= userData.Wallet.toFixed(2) %>/-</span>
                            </div>

                            <div class="d-flex border rounded mt-4 p-2 align-items-center">
                                <p class="ms-2">Total Amount: ₹<span id="TAmount" class="h5">
                                        <%=parseFloat(cartData.totalAmount).toFixed(2) %>
                                    </span>/-&nbsp;&nbsp;&nbsp;<span id="hidden"
                                        style="display: none; text-decoration: line-through;"
                                        class="text-secondary"></span></p>
                            </div>

                            <div id="couponDiv" class="d-flex mt-2">

                                <input type="text" class="p-2 coups rounded border" placeholder="apply coupon" name=""
                                    id="couponCode" style="width: 75%;">
                                <button type="button" class="btn btn-warning coups" id="coupon">apply</button>

                            </div>
                            <div class="text-success" id="couponStatus" style="display: none;">
                                Coupon applied
                            </div>


                            <div class="text-center mt-3">
                                <button class="btn btn-warning mt-4" id="confirmOrderButton" type="button">Confirm
                                    Order</button>
                                <a href="/userHome"><button class="btn btn-success mt-4" type="button">Back to
                                        Shop</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function checkWallet(walletAmount, total) {
            console.log('wallet=', walletAmount, ', total=', total)
            console.log(typeof (walletAmount), typeof (total))
            if (Number(walletAmount) < Number(total)) {
                $('#WalletError').text('Insufficient Balance')
                $('#WalletError').show()
                setTimeout(() => {
                    $('#WalletError').text('')
                    $('#WalletError').hide()
                    $("#payment_Wallet").prop('checked', false);
                }, 3000)
            }
        }
        // JavaScript to handle the radio button selections and form submission


        let namech = true
        let addch = true
        let citych = true
        let pinch = true
        let statech = true
        let phch = true
        function nameCheck() {
            let name = $('#recipient-name').val();
            if (name === '' || /\s{2,}/.test(name)) {
                $('#nameErr').text('Enter a valid name');

                namech = false
            } else {
                $('#nameErr').text('');

                namech = true
            }
        }

        function addCheck() {
            const address = $('#recipient-address').val();
            if (address === '' || /\s{2,}/.test(address)) {
                $('#addErr').text('Enter a valid address');


                addch = false
            } else {
                $('#addErr').text('');

                addch = true
            }
        }

        function cityCheck() {
            const cityCheck = $('#recipient-City').val();
            if (cityCheck === '' || /\s{2,}/.test(cityCheck)) {
                $('#cityErr').text('Enter a city');

                citych = false
            } else {
                $('#cityErr').text('');

                citych = true
            }
        }

        function pinCheck() {
            const pinCheck = $('#recipient-Pincode').val();
            console.log("pin==", pinCheck)
            if (pinCheck.length !== 6) {
                $('#pinErr').text('Enter a valid Pincode');

                pinch = false
            } else {
                $('#pinErr').text('');

                pinch = true
            }
        }

        function stateCheck() {
            const stateCheck = $('#recipient-State').val();
            if (stateCheck === '' || /\s{2,}/.test(stateCheck)) {
                $('#stateErr').text('Enter a state name');

                statech = false
            } else {
                $('#stateErr').text('');

                statech = true
            }
        }

        function mobCheck() {
            const mobCheck = $('#recipient-Mobile').val();
            if (mobCheck.length !== 10) {
                $('#mobErr').text('Enter a valid mobile');

                phch = false
            } else {
                $('#mobErr').text('');

                phch = true
            }
        }





        $('#coupon').click(() => {
            let code = $('#couponCode').val()
            let realPrice = $('#TAmount').text()
            console.log("real prize before applyig coupon", realPrice)

            fetch('/applyCoupon', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    code,
                })
            }).then(res => res.json())
                .then((data) => {
                    console.log(data)

                    if (data.success) {
                        $('.coups').hide()
                        $('#couponStatus').show()

                        $('#TAmount').text(parseFloat(data.amount).toFixed(2))
                        $('#hidden').text("₹" + parseFloat(realPrice).toFixed(2) + "/-")
                        $('#hidden').show()
                        console.log(data.amount);
                        console.log("real prize before applyig coupon", realPrice)

                    } else {
                        //   alert(data.message)
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: data.message,
                            //   footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    }
                })
                .catch((error) => {
                    console.error('Fetch error:', error);
                });
        })


        const confirmOrderButton = document.getElementById('confirmOrderButton');

        confirmOrderButton.addEventListener('click', async () => {
            const selectedAddressElement = document.querySelector('input[name="selectedAddress"]:checked');
            const selectedAddress = selectedAddressElement ? selectedAddressElement.value : null;
            const amount = $('#TAmount').val()

            const selectedPaymentElement = document.querySelector('input[name="selectedPayment"]:checked');
            const selectedPayment = selectedPaymentElement ? selectedPaymentElement.value : null;


            if (!selectedAddress) {
                // alert('Please select a delivery address before confirming your order.');
                Swal.fire("Please select a delivery address before confirming your order!");
            } else {
                console.log("Selected Addrss===", selectedAddress)
                console.log("Selected Payment===", selectedPayment)
                fetch('/placeOrder', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        selectedAddress: selectedAddress,
                        selectedPayment: selectedPayment,
                        amount
                    })
                })
                    .then(res => res.json())
                    .then((data) => {
                        if (data.success && (data.method == 'cod' || data.method == 'Wallet')) {
                            // console.log(data.success)
                            window.location.replace('/placeOrder')
                        }
                        if (data.success && data.method == 'online') {
                            var orderId = data.orderId
                            console.log("orderDetail=====", orderId)
                            razorpayPayment(orderId)

                        }
                    })
            }







        })

        function razorpayPayment(orderId) {
            console.log(orderId)
            var options = {
                "key": "rzp_test_4ak8LzPSG56Ssl",
                "amount": orderId.amount,
                "currency": "INR",
                "name": "Zoan Mania",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": orderId.id,
                "handler": function (response) {
                    // console.log("response of razor ==== ", response)
                    // alert(response.razorpay_payment_id)
                    // alert(response.razorpay_order_id)
                    // alert(response.razorpay_signature)
                    verifyPayment(response, orderId)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);

            rzp1.on('payment.failed', function (response) {
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            })
            rzp1.open();

        }
        function verifyPayment(payment, orderId) {
            console.log("inside verify payment")
            fetch('/verify-payment', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    payment, orderId
                })
            })
                .then(res => res.json())
                .then((data) => {
                    // console.log(data.status == 'payment success');
                    if (data.status == 'payment success') {
                        window.location.replace('/placeOrder')
                    } else if (data.status == 'payment failed') {
                        alert('payment failed')
                    }
                })
        }








        const orderForm = document.getElementById('orderForm');


        const saveAddress = async () => {
            console.log('clicked')
            const Name = document.getElementById('recipient-name').value
            const Address = document.getElementById('recipient-address').value
            const City = document.getElementById('recipient-City').value
            const Pincode = document.getElementById('recipient-Pincode').value
            const State = document.getElementById('recipient-State').value
            const Mobile = document.getElementById('recipient-Mobile').value

            console.log("Name=", Name,
                "AddressLine=", Address,
                "City=", City,
                "Pincode=", Pincode,
                "State=", State,
                "Mobile=", Mobile)
            console.log("this===", namech, addch, citych, pinch, statech, phch)
            if (namech && addch && citych && pinch && statech && phch) {
                var res = await fetch('/saveAddress', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        Name, Address, City, Pincode, State, Mobile
                    })
                })
            }
            const data = await res.json()
            // console.log(data)
            if (data.success) {

                document.getElementById('recipient-name').value = "";
                document.getElementById('recipient-address').value = "";
                document.getElementById('recipient-City').value = "";
                document.getElementById('recipient-Pincode').value = "";
                document.getElementById('recipient-State').value = "";
                document.getElementById('recipient-Mobile').value = "";

                // Close the modal (assuming you're using Bootstrap modal)
                $('#exampleModal').modal('hide');

                // Optionally, you can update the address list on the page.
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your address has been saved',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(() => {
                    location.reload();
                }, 1800)

            }

        }
        document.getElementById('addAddressBtn').addEventListener('click', saveAddress);



    </script>

    <%- include('../layouts/user/footer') -%>