<%- include('../layouts/user/header') -%>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3>Add Address</h3>
                    <form id="addAddress">
                        <div class="mb-3">
                        <label for="" class="form-label">Name</label>
                        <input type="text"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    
   </div>
    <form id="orderForm">
        <!-- action="/placeOrder" method="post" -->
        <div class="container p-3">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-4">Delivery Addresses</h3>
                    <% userData.address.forEach((addr)=> { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input address-radio" type="radio" name="selectedAddress"
                                        id="address_<%= addr._id %>" value="<%= addr._id %>" />
                                    <h5 class="card-title">
                                        <%= addr.Name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= addr.AddressLine %>
                                    </p>
                                    <p class="card-text">
                                        <%= addr.City %>, <%= addr.State %>
                                                <%= addr.Pincode %>
                                    </p>
                                    <p class="card-text">
                                        <%= addr.Mobile %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% if (userData.address.length===0) { %>
                                <p class="text-center">No saved addresses. Please add a new address.</p>
                                <% } %>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Payment Methods</h5>
                            <div class="form-check">
                                <input class="form-check-input payment-radio" type="radio" name="selectedPayment"
                                    id="payment_cod" value="cod" checked />
                                <label class="form-check-label" for="payment_cod">Cash on Delivery</label>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input payment-radio" type="radio" name="selectedPayment"
                                    id="payment_online" value="online" />
                                <label class="form-check-label" for="payment_online">Online Payment</label>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn btn-warning mt-4" onclick="placeOrder()" id="confirmOrderButton"
                                    type="button">Confirm Order</button>
                                <a href="/userHome"><button class="btn btn-success mt-4" type="button">Back to
                                        Shop</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        // JavaScript to handle the radio button selections and form submission
        
        const confirmOrderButton = document.getElementById('confirmOrderButton');
        const orderForm = document.getElementById('orderForm');
        
       
        confirmOrderButton.addEventListener('click', async () => {
            const selectedAddressElement = document.querySelector('input[name="selectedAddress"]:checked');
            const selectedAddress = selectedAddressElement ? selectedAddressElement.value : null;
                function getSelectedPayment() {
                for (const radio of paymentRadios) {
                    if (radio.checked) {
                        return radio.value;
                    }
                }
            }
            const selectedPayment = getSelectedPayment();
            console.log('selected address ====', selectedAddress, ", selected payment ====", selectedPayment)

            if (!selectedAddress) {
                alert('Please select a delivery address before confirming your order.');
            } else {
                // Submit the form
                orderForm.submit();
                const res = await fetch('/placeOrder', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        selectedAddress,
                        selectedPayment
                    })
                })
                const data = await res.json();
                if(data.success){
                    console.log("success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================success===================================================================================================")
                    if(selectedPayment == "cod"){
                    window.location.href = '/placeOrder';
                    }else if(selectedPayment == 'online' && data.orderId){
                        console.log("razorpayId===",data.orderId);
                    }
                }
                const orderId = data.orderId;
                console.log(orderId);
                $("button").show();
            }
        });

        
        // Function to get the selected value

    </script>

    <%- include('../layouts/user/footer') -%>