<%- include('../layouts/user/header') -%>

    <form id="orderForm">
        <!-- action="/placeOrder" method="post" -->
        <div class="container p-3">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-4">Delivery Addresses</h3>
                    <% userData.address.forEach((addr)=> { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input address-radio" type="radio" name="selectedAddress"
                                        id="address_<%= addr._id %>" value="<%= addr._id %>" />
                                    <h5 class="card-title">
                                        <%= addr.Name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= addr.AddressLine %>
                                    </p>
                                    <p class="card-text">
                                        <%= addr.City %>, <%= addr.State %>
                                                <%= addr.Pincode %>
                                    </p>
                                    <p class="card-text">
                                        <%= addr.Mobile %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% if (userData.address.length===0) { %>
                                <p class="text-center">No saved addresses. Please add a new address.</p>
                                <% } %>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Payment Methods</h5>
                            <div class="form-check">
                                <input class="form-check-input payment-radio" type="radio" name="selectedPayment"
                                    id="payment_cod" value="cod" checked />
                                <label class="form-check-label" for="payment_cod">Cash on Delivery</label>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input payment-radio" type="radio" name="selectedPayment"
                                    id="payment_online" value="online" />
                                <label class="form-check-label" for="payment_online">Online Payment</label>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn btn-warning mt-4" onclick="placeOrder()" id="confirmOrderButton"
                                    type="button">Confirm Order</button>
                                <a href="/userHome"><button class="btn btn-success mt-4" type="button">Back to
                                        Shop</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/htmlExecutable/user/userCheckout.js"></script>

    <%- include('../layouts/user/footer') -%>