<%- include('../layouts/user/header') -%>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- ... Carousel content ... -->
</div>
 

<!-- Carousel wrapper -->
<% if(BAnner && BAnner.images.length>0){ %>
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <% for (let i = 0; i < BAnner.images.length; i++) { %>
      <button
        type="button"
        data-bs-target="#carouselBasicExample"
        data-bs-slide-to="<%= i %>"
        <% if (i === 0) { %>class="active" aria-current="true"<% } %>
        aria-label="Slide <%= i + 1 %>"
      ></button>
    <% } %>
    
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <% BAnner.images.forEach((image, index) => { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %> d-flex justify-content-center ">
        <img src="/croppedBanner/<%= image %>" class="d-block" width="100%" alt="<%= image.alt %>" />
        <div class="carousel-caption d-none d-md-block">
          <h5><%= image.label %></h5>
          <p><%= image.description %></p>
        </div>
      </div>
    <% }); %>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<% } %>
<!-- Carousel wrapper -->




  </div>

  </div>


  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
      <P class="mt-5">Featured Products</P>
      <h3 class="mb-5">BESTSELLER PRODUCTS</h3>
    </div>
  </div>

  <div class="container-fluid">
<div class="row me-5">
  <% productModel.forEach(product => { %>
    <% if (product.Category.length > 0 && product.Image.length !== 0 && product.visible) { %>
      <div class="col-md-3 p-4">
        <div class="card shadow border" style="width: 18rem;margin-left: 25px;">
          <% if(product.catOffer.catPer>0){ %>
            <span class="bg-info text-white m-2 p-1" style="position: absolute; top: 0px; right: 0px; z-index: 1; border-radius: 5px;"><%= product.catOffer.catPer %>% off</span>
        <% } %>
          <a href="/productDetail/<%= product._id %>"><img class="card-img-top"
              style="height: 290px; width: 250px; padding: 20px; margin-left: 20px;"
              src="/uploads/<%= product.Image[0] %>" alt="Card image cap"></a>
          <div class="card-body">
            <h6 class="card-title">
              <%= product.Name %>
            </h6>
            <!-- <h5><% product.Price %></h5> -->
            <% if (product.Stock >= 1) { %>
              <!-- && (cartData && cartData.Items.length !== 0) -->
              <p class="card-text" style="font-weight: 700;">₹<%= product.Price %>/-</p>
              <% let isInCart = false %>
              <% if(cartData && cartData.Items.length>0){ %>
              <% for (let index = 0; index < cartData.Items.length; index++) { %>
                <% if (JSON.stringify(product._id) == JSON.stringify(cartData.Items[index].ProductId._id)) { %>
                  <% isInCart = true %>
                  <% break %>
                <% } %>
              <% } %>
              <% } %>
              <% if (isInCart) { %>
                <a href="/cart" class="btn btn-warning">Go To Cart</a>
              <% } else { %>
                <button class="btn btn-warning" id="buton<%= product._id %>"
                  onclick="addToCart('<%= product._id %>')">Add To Cart</button>
              <% } %>

            <% } else if (product.Stock < 1) { %>
              <!-- <p class="card-text" style="font-weight: 700;">₹< product.Price %>/-</p> -->

              <p class="card-text"
                style="font-weight: 800; color: rgb(238, 101, 101);">Out of stock</p>
              <a href="" class="btn btn-warning" style="pointer-events: none">Add ToCart</a>

            <% } else { %>

              <button class="btn btn-warning" onclick="addToCart('<%= product._id %>')">Add To Cart</button>

            <% } %>

            <a href="/productDetail/<%= product._id %>" class="btn btn-primary">view Details</a>

          </div>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>

<!-- <footer class="container-fluid mt-5" style="width: 100%; height: 300px;background: #000;">
  <!-- ... Footer content ... -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
  integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  // ... Other scripts ...
//   import { Carousel, initMDB } from "mdb-ui-kit";

// initMDB({ Carousel });
// const element = document.querySelector('.carousel');
// const instance = new Carousel(element);

  function addToCart(P_id) {
    fetch(`/addToCart/${P_id}`)
      .then(res => res.json())
      .then((data) => {
        console.log("dat======", data)
        if (data.success) {
          toastr.info("Added an item to the cart");

          setTimeout(() => {
            location.reload();
          }, 2200)
        }
      });
  }
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script> -->

<%- include('../layouts/user/footer') -%>
