<%- include('../layouts/admin/header'); -%>

    <div class="col-md-12">

        <main class="px-md-4 icons " style="margin-left: 5%;width: 90%; margin-top: 6%;">

            <h1 class="mt-5">Edit Product</h1>
            <br>
            <form action="/admin/update-productPage/<%- P_detail._id %>" method="post" id="sub"
                enctype="multipart/form-data" class="">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-8 border p-3 mb-3">
                        <div class="form-group border p-3 mb-3">
                            <span class="text-danger" id="NameErr"></span>
                            <label for="productName">Name : </label>
                            <input type="text" id="Pname" name="ProductName" class="form-control bg-light"
                                value="<%=P_detail.Name%>" id="productName" placeholder="Enter product name" required />
                        </div>
                        <br>

                        <div class="form-group border p-3 mb-3">
                            <label for="productDescription">Description:</label>
                            <textarea class="form-control bg-light" name="Description" aria-valuemax=""
                                id="productDescription" rows="4" placeholder="Enter product description"
                                required><%= P_detail.Description %></textarea>
                        </div>
                        <br>
                        <div class="form-group border p-3 mb-3">
                            <label for="productSpecification">Specification1:</label>
                            <textarea class="form-control bg-light" name="Spec1" id="productSpecification1"
                                placeholder="Enter product Specification" required><%= P_detail.Spec1 %></textarea>
                            <label for="productSpecification2">Specification2:</label>
                            <textarea class="form-control bg-light" name="Spec2" id="productSpecification"
                                placeholder="Enter product Specification" required><%= P_detail.Spec2 %></textarea>
                            <label for="productSpecification3">Specification3:</label>
                            <textarea class="form-control bg-light" name="Spec3" id="productSpecification"
                                placeholder="Enter product Specification" required><%= P_detail.Spec3 %></textarea>

                        </div>
                        <br>
                        <div class="border p-3 mb-3">


                            <div class="p-2">
                                <input type="file" name="image1" accept="image/*" onchange="Cimg(event)">
                                <% if(P_detail.Image[0]){ %>
                                    <img src="/uploads/<%= P_detail.Image[0] %>" id="DmainImage" alt="" width="80px">
                                    <button type="button" class="ms-3 btn btn-danger"
                                        onclick="deletePic('<%=P_detail._id%>',0)">delete</button>

                                    <% } %>
                                        <img src="" alt="" id="mainImage" style="display: none;" width="80px">

                            </div>


                            <div class="p-2">
                                <input type="file" name="image2" accept="image/*" onchange="C2img(event)">
                                <% if(P_detail.Image[1]){ %>
                                    <img src="/uploads/<%= P_detail.Image[1] %>" id="Dimage1" alt="" width="80px">
                                    <button type="button" class="ms-3 btn btn-danger"
                                        onclick="deletePic('<%=P_detail._id%>',1)">delete</button>

                                    <% } %>
                                        <img src="" alt="" id="image1" style="display: none;" width="80px">

                            </div>


                            <div class="p-2">
                                <input type="file" name="image3" accept="image/*" onchange="C3img(event)">
                                <% if(P_detail.Image[2]){ %>
                                    <img src="/uploads/<%= P_detail.Image[2] %>" id="Dimage2" alt="" width="80px">
                                    <button type="button" class="ms-3 btn btn-danger"
                                        onclick="deletePic('<%=P_detail._id%>',2)">delete</button>

                                    <% } %>
                                        <img src="" alt="" id="image2" style="display: none;" width="80px">

                            </div>


                            <div class="p-2">
                                <input type="file" name="image4" accept="image/*" onchange="C4img(event)">
                                <% if(P_detail.Image[3]){ %>
                                    <img src="/uploads/<%= P_detail.Image[3] %>" alt="" width="80px" id="Dimage3">
                                    <button type="button" class="ms-3 btn btn-danger"
                                        onclick="deletePic('<%=P_detail._id%>',3)">delete</button>
                                    <% } %>
                                        <img src="" alt="" id="image3" style="display: none;" width="80px">

                            </div>


                        </div>


                        <div class="border p-3 mb-3">
                            <h2>Pricing</h2>
                            <div class="form-group">
                                <label for="basePrice">Price:</label>
                                <div id="priceErr" style="display: none;"></div>
                                <input type="number" name="Price" class="form-control bg-light" id="price"
                                    placeholder="Enter base price" value="<%= P_detail.Price %>" required />
                            </div>
                            <br>

                        </div>
                        <div class="border p-3 mb-3">
                            <h2>Stock</h2>

                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <div id="stocker" style="display: none;"></div>
                                <input type="number" name="Stock" class="form-control bg-light" id="stock"
                                    placeholder="Enter quantity" value="<%= P_detail.Stock %>" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4  ">
                        <div class="bg-white  border p-3 mb-3">
                            <span class="text-danger" id="catErr"></span>
                            <div class="dropdown">

                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Select categories
                                </button>
                                
                                <ul class="dropdown-menu p-2" id="categoryDropdown">
                                    <% cate.forEach(cat => { %>
                                        <li class="dropdown-item" style="cursor: pointer;">
                                            <input type="checkbox" name="Category" id="<%= cat._id %>" value="<%= cat.catName %>"
                                                style="cursor: pointer;" <% if (P_detail.Category.includes(cat.catName)) { %> checked <% } %>>
                                            <label for="<%= cat._id %>">
                                                <%= cat.catName %>
                                            </label style="cursor: pointer;">
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                            

                                <br>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="Clicked()">Edit Product</button>
                    </div>

                </div>
            </form>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function deletePic(P_id, num) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/deleteImage/${P_id}`, {
                        method: 'PUT',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            num: num,
                        })
                    })
                        .then(res => res.json())
                        .then((data) => {
                            if (data.success) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                }).then(() => {
                                    location.reload();
                                })
                            }
                        })
                }
            });
        }




        function Clicked() {
            document.getElementById('sub').addEventListener("submit", (e) => {
                let Pname = document.getElementById('Pname').value.trim()
                let stock = document.getElementById('stock').value;
                let price = document.getElementById('price').value;
                let err = document.getElementById('stocker');
                let prerr = document.getElementById('priceErr');
                let catErr = document.getElementById('catErr')
                // Get selected categories
            let selectedCategories = [];
            document.querySelectorAll('[name="Category"]:checked').forEach((checkbox) => {
                selectedCategories.push(checkbox.value);
            });

            // Add the selected categories to a hidden field in the form
            let categoriesInput = document.createElement('input');
            categoriesInput.type = 'hidden';
            categoriesInput.name = 'Categories';
            categoriesInput.value = selectedCategories; 
            document.getElementById('sub').appendChild(categoriesInput);

                if(Pname.length==0){
                    e.preventDefault()
                    document.getElementById('NameErr').innerHTML = 'Enter a valid name'
                    setTimeout(()=>{
                        document.getElementById('NameErr').innerHTML = ''
                    },3000)
                }

                if (selectedCategories.length==0){
                    e.preventDefault();
                    catErr.innerHTML = 'Select Atleast One Category';
                    setTimeout(()=>{
                        catErr.innerHTML = ''
                    },3000)
                }

                if (stock < 0) {
                    e.preventDefault();
                    err.style.display = 'block'
                    err.innerHTML = 'stock should be greater than or equal to 0';
                    setTimeout(() => {
                        err.style.display = 'none'
                    }, 3000)
                }

                if (price <= 0) {
                    e.preventDefault();
                    prerr.style.display = 'block'
                    prerr.innerHTML = 'price should be greater than 0';
                    setTimeout(() => {
                        prerr.style.display = 'none'
                    }, 3000)
                }
            })
        }
        function Cimg(ev) {
            document.getElementById('mainImage').src = URL.createObjectURL(ev.target.files[0]);
            document.getElementById('DmainImage').style.display = 'none'
            document.getElementById('mainImage').style.display = 'block';
        }
        function C2img(ev) {
            document.getElementById('image1').src = URL.createObjectURL(ev.target.files[0]);
            document.getElementById('Dimage1').style.display = 'none'
            document.getElementById('image1').style.display = 'block';
        }
        function C3img(ev) {
            document.getElementById('image2').src = URL.createObjectURL(ev.target.files[0]);
            document.getElementById('Dimage2').style.display = 'none'
            document.getElementById('image2').style.display = 'block';
        }
        function C4img(ev) {
            document.getElementById('image3').src = URL.createObjectURL(ev.target.files[0]);
            document.getElementById('Dimage3').style.display = 'none'
            document.getElementById('image3').style.display = 'block';
        }

    </script>
    <%- include('../layouts/admin/footer'); -%>