<%- include('../layouts/admin/header'); -%>

    <div class="col-md-12">
        
        <main class="px-md-4 icons " style="margin-left: 5%;width: 90%; margin-top: 6%;">

            <!-- <h1 class="mt-5">Edit Product</h1> -->
            <br>
            <form action="/admin/update-productPage/<%- P_detail._id %>" method="post" id="sub" enctype="multipart/form-data" class="">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-8 border p-3 mb-3">
                        <div class="form-group border p-3 mb-3">
                            <label for="productName">Name : </label>
                            <input type="text" name="ProductName" class="form-control bg-light" value="<%=P_detail.Name%>" id="productName"
                                placeholder="Enter product name" required />
                        </div><br>
        
                        <div class="form-group border p-3 mb-3">
                            <label for="productDescription">Description:</label>
                            <textarea class="form-control bg-light" name="Description" aria-valuemax="" id="productDescription" rows="4"
                                placeholder="Enter product description" required><%= P_detail.Description %></textarea>
                        </div>
                        <br>
                        <div class="form-group border p-3 mb-3">
                            <label for="productSpecification">Specification1:</label>
                            <textarea class="form-control bg-light" name="Spec1" id="productSpecification1"
                                placeholder="Enter product Specification" required><%= P_detail.Spec1 %></textarea>
                            <label for="productSpecification2">Specification2:</label>
                            <textarea class="form-control bg-light" name="Spec2" id="productSpecification"
                                placeholder="Enter product Specification" required><%= P_detail.Spec2 %></textarea>
                            <label for="productSpecification3">Specification3:</label>
                            <textarea class="form-control bg-light" name="Spec3" id="productSpecification"
                                placeholder="Enter product Specification" required><%= P_detail.Spec3 %></textarea>
                            
                        </div>
                        <br>
                        <div class="border p-3 mb-3">
                        

                            <div class="p-2">
                                <input type="file" name="image1" accept="image/*" onchange="Cimg(event)">
                            <% if(P_detail.Image[0]){ %>                                
                                <img src="/uploads/<%= P_detail.Image[0] %>" id="DmainImage" alt="" width="80px"  >
                                <button type="button" class="ms-3 btn btn-danger" onclick="deletePic('<%=P_detail._id%>',0)">delete</button>

                            <% } %>
                                <img src="" alt="" id="mainImage" style="display: none;" width="80px">
                                
                            </div>


                            <div class="p-2">
                                <input type="file" name="image2" accept="image/*" onchange="C2img(event)">
                            <% if(P_detail.Image[1]){ %>                                
                                <img src="/uploads/<%= P_detail.Image[1] %>" id="Dimage1" alt="" width="80px">
                                <button type="button" class="ms-3 btn btn-danger" onclick="deletePic('<%=P_detail._id%>',1)">delete</button>

                            <% } %>
                                <img src="" alt="" id="image1" style="display: none;" width="80px">

                            </div>

                            
                            <div class="p-2">
                                <input type="file" name="image3" accept="image/*" onchange="C3img(event)">
                            <% if(P_detail.Image[2]){ %>                                
                                <img src="/uploads/<%= P_detail.Image[2] %>" id="Dimage2" alt="" width="80px" >
                                <button type="button" class="ms-3 btn btn-danger" onclick="deletePic('<%=P_detail._id%>',2)">delete</button>

                            <% } %>
                                <img src="" alt="" id="image2" style="display: none;" width="80px">

                            </div>

                        
                           <div class="p-2">
                            <input type="file" name="image4" accept="image/*" onchange="C4img(event)">
                            <% if(P_detail.Image[3]){ %>                                
                                <img src="/uploads/<%= P_detail.Image[3] %>" alt="" width="80px" id="Dimage3">
                                <button type="button" class="ms-3 btn btn-danger" onclick="deletePic('<%=P_detail._id%>',3)">delete</button>
                            <% } %>
                                <img src="" alt="" id="image3" style="display: none;" width="80px">

                           </div>


                        </div>
        
        
                        <div class="border p-3 mb-3">
                            <h2>Pricing</h2>
                            <div class="form-group">
                                <label for="basePrice">Price:</label>
                                <div id="priceErr" style="display: none;"></div>
                                <input type="number" name="Price" class="form-control bg-light" id="price"
                                    placeholder="Enter base price" value="<%= P_detail.Price %>" required />
                            </div>
                            <br>
                            <!-- will add later -->
                            <!-- <div class="form-group">
                                <label for="discountAmount">Discount Amount:</label>
                                <input type="number" name="DiscountAmount" class="form-control bg-light"
                                    id="discountAmount" placeholder="Enter discount amount" required />
                            </div> -->
                        </div>
        
        
        
                        <div class="border p-3 mb-3">
                            <h2>Stock</h2>
        
                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <div id="stocker" style="display: none;"></div>
                                <input type="number"  name="Stock" class="form-control bg-light"
                                    id="stock" placeholder="Enter quantity" value="<%= P_detail.Stock %>" required />
                            </div>
                        </div>
                </div>
        
                <div class="col-md-4  ">
                    <div class="bg-white  border p-3 mb-3">
                        <div class="form-group">
                            <br>
                            <label>Category:</label>
                            <select class="form-select bg-light" id="category" name="Category" >
                                <option value="" selected disabled><%= P_detail.Category %></option>
                                    <%if(cate) {%>
                                        <%cate.forEach((data)=>{%>
                                            <option value="<%=data.catName%>">
                                                <%=data.catName%>
                                            </option>
                                        <% }) %>
                                    <%}%>   
                            </select>
                        </div><br>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="Clicked()">Confirm</button>
                </div>
                
            </div>
                </form>
        </main>
    </div>
    <script src="/htmlExecutable/admin/editProduct.js"></script>
<%- include('../layouts/admin/footer'); -%>