<%- include('../layouts/admin/header'); -%>

    <div class="table-responsive">
        <table class="table table-hover table-borderless  align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Specification</th>
                    <th scope="col">Return Status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if (ProductAllDetails) { %>
                    <% ProductAllDetails.forEach((product)=> { %>
                        <tr>
                            <td>
                                <img src="/uploads/<%= product.productId.Image[0] %>" alt="product image"
                                    style="height: 50px; width: 50px;">
                            </td>
                            <td>
                                <%= product.productId.Name %>
                            </td>
                            <td>
                                <%= product.quantity %>
                            </td>
                            <td>
                                <%= product.productId.Category %>
                            </td>
                            <td>
                                <%= product.productId.Price %>
                            </td>
                            <td>
                                <%= product.productId.Spec1 %><br>
                                    <%= product.productId.Spec2 %><br>
                                        <%= product.productId.Spec3 %>
                            </td>
                            <td>
                                <% if (product.needToRemoved && product.returnStatus == 'returned') { %>
                                    <span class="badge bg-danger">Returned</span>
                                <% } else if(product.needToRemoved && product.returnStatus == 'rejected'){ %>
                                    <span class="badge bg-danger">Rejected</span>
                                <% }else if(product.needToRemoved && product.returnStatus == ''){ %>
                                    <button class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal<%= product.productId._id %>">Check Return
                                        Request</button>
                                <% }else{ %>
                                            ---
                                <% } %>
                            </td>
                        </tr>
                        <!-- Button trigger modal -->

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal<%= product.productId._id %>" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Reason for return</h1>
                                    </div>
                                    <div class="modal-body">
                                        <%= product.returnMessage %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success"
                                            onclick="whatToDo(0,'<%= product.productId._id %>','<%= order._id %>')">Accept</button>
                                        <button type="button" class="btn btn-danger"
                                            onclick="whatToDo(1,'<%= product.productId._id %>','<%= order._id %>')">Decline</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">No Orders Yet</h5>
                    <p class="card-text">There are currently no orders available.</p>
                </div>
            </div>
            <% } %>
    </div>

    <script>

        function whatToDo(num, productId, orderId) {
            console.log("Clicked", num, productId, orderId);
            fetch(`/admin/updatReturnStatus/${orderId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },  
                body:JSON.stringify( {
                    num, productId
                })
            })
            .then(res => res.json())
            .then((data) => {
                location.reload()
            })
        }

    </script>
    <%- include('../layouts/admin/footer'); -%>