<%- include('../layouts/admin/header'); -%>

<div class="table-responsive">
    <table class="table table-hover table-borderless  align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Specification</th>
                <th scope="col">Return Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% if (ProductAllDetails) { %>
                <% ProductAllDetails.forEach((product) => { %>
                    <tr>
                        <td>
                            <img src="/uploads/<%= product.productId.Image[0] %>" alt="product image" style="height: 50px; width: 50px;">
                        </td>
                        <td><%= product.productId.Name %></td>
                        <td><%= product.quantity %></td>
                        <td><%= product.productId.Category %></td>
                        <td><%= product.productId.Price %></td>
                        <td>
                            <%= product.productId.Spec1 %><br>
                            <%= product.productId.Spec2 %><br>
                            <%= product.productId.Spec3 %>
                        </td>
                        <td>
                            <% if (product.removed) { %>
                                <span class="badge bg-danger">Returned</span>
                            <% } else { %>
                                ---
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">No Orders Yet</h5>
                <p class="card-text">There are currently no orders available.</p>
            </div>
        </div>
    <% } %>
</div>

<%- include('../layouts/admin/footer'); -%>
