<%- include('../layouts/admin/header'); -%>

   <div class="col-md-12 ">
    <form action="/admin/userUpdate/<%- user_data._id %>" method="post" class="ms-5 mt-5">
        <label for="">Change user name</label>
        <input type="text" name="Uname" value="<%- user_data.name %>" id="">
        <button type="submit" onclick="return confirm('Do you want to delete thid user <%- user_data.name %>')">Submit</button>
    </form>
   </div>

<%- include('../layouts/admin/footer') -%>