<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/Zoan_proto/public/adminCss/sidebar.css" type="text/css"> -->
    <link rel="stylesheet" href="/adminCss/mainLayout.css" type="text/css">
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <style>
        body {
            overflow: hidden; /* Prevent scrolling when the message is displayed */
            margin: 0;
        }

        #landscapeModeMessage {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.8); /* Black background */
            color: white; /* White text */
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px); /* Blur effect */
        }

        @media (orientation: landscape) {
            body {
                overflow: auto; /* Re-enable scrolling when in landscape mode */
            }

            #landscapeModeMessage {
                display: none;
            }
        }

        @media (orientation: portrait) {
            body {
                background-color: black; /* Set the background to black when in portrait mode */
            }

            .container-fluid {
                display: none; /* Hide the main content when in portrait mode */
            }

            #landscapeModeMessage {
                display: block;
            }
        }
    </style>
</head>
<body>
    <div id="landscapeModeMessage">
        <p>Please rotate your device to landscape mode for a better experience.</p>
    </div>

    <div class="container-fluid">
        <div class="row" >
            <div class="sidebar col-5 col-md-2 border-end border-5">
                <div class="logo d-flex justify-content-center">
                    <h5 class="text-center">ZOAN_MANiA</h5>
                </div>
                <hr style="width: 80%; margin-left: 10%;" class="mb-3">
                <div class="menubar">
                    <a class="outer-link <%= Page === 'Dashboard' ? 'active' : '' %>" href="/admin/Dashboard"><div class="sidnavButton"><span >Dashboard</span></div></a>
                    <a class="outer-link <%= Page === 'Orders' ? 'active' : '' %>" href="/admin/Orders"><div class="sidnavButton"><span>Orders</span></div></a>
                    <a class="outer-link <%= Page === 'Inventory' ? 'active' : '' %>" href="/admin/Inventory"><div class="sidnavButton"><span>Inventory</span></div></a>
                    <!-- <a class="outer-link < Page === 'Admins' ? 'active' : '' %>" href="/admin/Admins"><div class="sidnavButton"><p>Admins</p></div></a> -->
                    <a class="outer-link <%= Page === 'Customers' ? 'active' : '' %>" href="/admin/Customers"><div class="sidnavButton"><span>Customers</span></div></a>
                    <a class="outer-link <%= Page === 'Category' ? 'active' : '' %>" href="/admin/Category"><div class="sidnavButton"><span>Category</span></div></a>
                    <a class="outer-link <%= Page === 'Banner' ? 'active' : '' %>" href="/admin/Banner"><div class="sidnavButton"><span>Banner</span></div></a>
                    <a class="outer-link <%= Page === 'Coupons' ? 'active' : '' %>" href="/admin/Coupons"><div class="sidnavButton"><span>Coupons</span></div></a>
                    <!-- <a class="outer-link Page === 'Payments' ? 'active' : '' " href="/admin/Payments"><div class="sidnavButton"><p>Payments</p></div></a> -->
                    <!-- <a class="outer-link < Page === 'Settings' ? 'active' : '' %>" href="/admin/Settings"><div class="sidnavButton"><p>Settings</p></div></a> -->
        
                </div>
               
                <div class="signOut" >
                  <a href="/admin/logout"><img src="/icons/Frame 9.png" alt=""></a>
                </div>
                 
            </div>
            <div class="col-7 col-md-10">
                <div class="row gx-0">
                    <script>
                        function toggleSidebar() {
                            $('.sidebar').toggleClass('sidebar-hidden');
                        }
                    </script>
                
            

             