<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/Zoan_proto/public/adminCss/sidebar.css" type="text/css"> -->
    <link rel="stylesheet" href="/adminCss/mainLayout.css" type="text/css">
    <link rel="stylesheet" href="/adminCss/dashboard.css" type="text/css">
    <link rel="stylesheet" href="/adminCss/banner.css">
    <link rel="stylesheet" href="/adminCss/coupon.css">
</head>

<body>

    <div class="" style="display: flex;">
        <!-- Sidebar -->
        <div class="sidebar bg-light border-end border-5 p-2x" id="sidebar">
            <div class="d-flex justify-content-between align-items-center px-2 pt-2">
                <img src="/logos/logo.png" id="sidebarToggle" class="col-12" alt="img">
                <!-- Close Button (Only on Mobile) -->
            </div>

            <hr class="mx-auto mb-3" style="width: 80%;">

            <div class="menubar">
                <a class="outer-link <%= Page === 'Dashboard' ? 'active' : '' %>" href="/admin/Dashboard">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-chart-line me-2"></i>
                        <p>Dashboard</p>
                    </div>
                </a>

                <a class="outer-link <%= Page === 'Orders' ? 'active' : '' %>" href="/admin/Orders">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-box-open me-2"></i>
                        <p>Orders</p>
                    </div>
                </a>

                <a class="outer-link <%= Page === 'Inventory' ? 'active' : '' %>" href="/admin/Inventory">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-warehouse me-2"></i>
                        <p>Inventory</p>
                    </div>
                </a>

                <a class="outer-link <%= Page === 'Customers' ? 'active' : '' %>" href="/admin/Customers">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-users me-2"></i>
                        <p>Customers</p>
                    </div>
                </a>

                <a class="outer-link <%= Page === 'Category' ? 'active' : '' %>" href="/admin/Category">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-list me-2"></i>
                        <p>Category</p>
                    </div>
                </a>

                <a class="outer-link <%= Page === 'Banner' ? 'active' : '' %>" href="/admin/Banner">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-image me-2"></i>
                        <p>Banner</p>
                    </div>
                </a>
                <a class="outer-link <%= Page === 'Coupons' ? 'active' : '' %>" href="/admin/Coupons">
                    <div class="sidnavButton">
                        <i class="fa-solid fa-ticket me-2"></i>
                        <p>Coupons</p>
                    </div>
                </a>


                <!-- <a class="outer-link <%= Page === 'Payments' ? 'active' : '' %>" href="/admin/Payments">
                        <div class="sidnavButton">
                            <i class="fa-solid fa-credit-card me-2"></i>
                            <p>Payments</p>
                        </div>
                    </a>

                    <a class="outer-link <%= Page === 'Settings' ? 'active' : '' %>" href="/admin/Settings">
                        <div class="sidnavButton">
                            <i class="fa-solid fa-gear me-2"></i>
                            <p>Settings</p>
                        </div>
                    </a> -->
            </div>


            <div class="signOut mt-auto">
                <a href="/admin/logout"><img src="/icons/Frame 9.png" alt="" id="logout3"></a>
            </div>
        </div>

        <div class="col-md-10 col-sm-5 gx-0">
            <!-- <div class="row gx-0"> -->
                <!-- <div class="col-2"> -->
                <!-- <div class="col-md-12 header">
                        <div class="pagename">

                        </div>
                        <div class="shopAndpic">

                        </div>
                    </div> -->